body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.name{
    color: orange;
}

.flexible{
    display: flex ;
    padding-bottom: 20px;
}
.width-bg{
    width: 50%;
    padding-left: 6%;
}
.width-bg img{
    width: 80%;

}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.top-bg{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    padding-bottom: 120px;
}
.resume{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px; 
    padding-top: 10px;
    padding-bottom: 10px;
}

.dream{
    width: 95%;
    padding-right: 5%;
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-bottom: 50px;
}
.pro{
    display: flex;
    color: orange;
}
.exp{
    padding-left: 6%;
}
.gol{
    padding-right: 60px;
}
.shadow{
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px grey;
    width: 40%
    

}
.width-bg1{
    width: 50%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 10px;
    padding-bottom: 5px;
}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    
}
#st{
    
    border-left: 7px solid;
    border-image: linear-gradient(rgb(223, 130, 130), rgb(179, 88, 61));
    border-image-slice: 1;
    border-radius: 5px;
}
#nd{
    
    border-left: 7px solid;
    border-image: linear-gradient(rgb(130, 163, 223), rgb(61, 87, 236));
    border-image-slice: 1;
    border-radius: 5px;
}
footer p{
    text-align: center;
    color: grey;
}
p{
    color: grey;
}